{% extends 'base.html' %}
{% block content %}
 {% load static %}
    <main class="rcontainer">
        <div class="mx-auto h-100 mt-5 mb-5 p-5 w-75 shadow rounded" id="mainDiv">
            <div>
				<h1 class="mx-auto col-12 pb-4 text-center">Результаты анализа</h1>
			</div>
            <div id="message-container">
            </div>
        </div>
     </main>

<script>
    const homologous_sequences_fasta_file = '{{homologous_sequences_fasta_file}}';
    const select_predicted_seq = '{{select_predicted_seq}}';
    const chem_phys_properties = '{{chem_phys_properties}}';
    const search_motifs = '{{search_motifs}}';
    const num_motifs = '{{num_motifs}}';
    const build_phylo_tree = '{{build_phylo_tree}}';
    const alignment_algorithm = '{{alignment_algorithm}}';
    const phylo_algorithm = '{{phylo_algorithm}}';
    const socket = new WebSocket('ws://' + window.location.host + '/ws/some_path/');



    let divPhysChem = false;
    let divSearchMotif = false;
    let divBuildTree = false;

    let formData = null; 

    window.onload = function() {
        // Проверяем условие chem_phys_properties
        if (chem_phys_properties === 'True') {
            // Создаем новый элемент div
            divPhysChem = document.createElement('div');
            divPhysChem.id = 'chem-phys-properties';
            const titlePhysChem = document.createElement('h4');
            titlePhysChem.textContent = 'Оценка физико-химических свойств';
            titlePhysChem.classList.add("mt-4", "mb-4");
            divPhysChem.append(titlePhysChem);
             document.getElementById('message-container').appendChild(divPhysChem);
             addLoadingSpinner(divPhysChem);
            }
        if (search_motifs === 'True') {
            // Создаем новый элемент div
            divSearchMotif = document.createElement('div');
            divSearchMotif.id = 'search-motifs';
            const titleSearchMotif = document.createElement('h4');
            titleSearchMotif.textContent = 'Поиск мотивов de novo';
            titleSearchMotif.classList.add("mt-4", "mb-4");
            divSearchMotif.append(titleSearchMotif);
             document.getElementById('message-container').appendChild(divSearchMotif);
            addLoadingSpinner(divSearchMotif);
            }
        if (build_phylo_tree === 'True') {
            // Создаем новый элемент div
            divBuildTree = document.createElement('div');
            divBuildTree.id = 'phylo-tree';
            const titleBuildTree = document.createElement('h4');
            titleBuildTree.textContent = 'Анализ филогенетического расстояния';
            titleBuildTree.classList.add("mt-4", "mb-4");
            divBuildTree.append(titleBuildTree)
             document.getElementById('message-container').appendChild(divBuildTree);
             addLoadingSpinner(divBuildTree);
            }
    };

    socket.onopen = (event) => {
            // Теперь соединение установлено, и вы можете отправлять сообщения
            console.log('WebSocket connection opened!');
            socket.send(JSON.stringify({
            type: 'form_seq_analysis',
                data: { homologous_sequences_fasta_file, select_predicted_seq, chem_phys_properties, search_motifs, num_motifs, build_phylo_tree, alignment_algorithm, phylo_algorithm},
            }));
        };

     socket.onmessage = function (e) {
         const data = JSON.parse(e.data);
         const receivedMessage = data.message;
         console.log(receivedMessage);
         let spinerPhysChem = null;
         let spinerBuildTree = null
         let spinerSearchMotif = null
         if (divPhysChem) {
             spinerPhysChem = divPhysChem.querySelector('.spinnerContainer')
         }
         if (divBuildTree) {
             spinerBuildTree = divBuildTree.querySelector('.spinnerContainer')
         }
         if (divSearchMotif) {
             spinerSearchMotif = divSearchMotif.querySelector('.spinnerContainer')
         }

         if (receivedMessage[0] == 'AminoGist') {
             console.log("AminoGist works")

             let messageContainer1 = document.createElement('div');
             messageContainer1.id = 'AminoGist';

             const AminoGistTitle = document.createElement('h6');
             AminoGistTitle.textContent = 'Сравнение аминокислотных составов';
             AminoGistTitle.classList.add("mt-4", "mb-0");
             messageContainer1.append(AminoGistTitle)

             // Вставляем изображение в элемент с id 'message-container'
             divPhysChem.insertBefore(messageContainer1, spinerPhysChem);

             const {
                 button,
                 collapsibleDiv
             } = createButtonAndCollapseDiv('aminoGist', '#aminoGistTable', 'aminoGistTable');

             document.getElementById('AminoGist').appendChild(button);
             document.getElementById('AminoGist').appendChild(collapsibleDiv);

             createTableFromJson(receivedMessage[2], 'aminoGistTable');

             const imgElement = document.createElement('img');

             {#const filePath = receivedMessage[1].split('sequence_analysis/')[1];#}
             const path = receivedMessage[1].split('sequence_analysis')[1];
             console.log('path', path);
             imgElement.src = path; // Путь к изображению, который пришел в сообщении
             imgElement.style.width = '90%';    // Укажите желаемую ширину изображения


             messageContainer1.appendChild(imgElement);
         } else if (receivedMessage[0] == 'AllParams') {
             const imageContainer = document.createElement('div');
             imageContainer.id = 'AllParams';
             divPhysChem.insertBefore(imageContainer, spinerPhysChem);

             const AllParamsTitle = document.createElement('h6');
             AllParamsTitle.textContent = 'Сравнение физико-химических свойств';
             AllParamsTitle.classList.add("mt-4", "mb-0");
             imageContainer.append(AllParamsTitle)

             const {
                 button,
                 collapsibleDiv
             } = createButtonAndCollapseDiv('AllParamsButt', '#AllParamsTable', 'AllParamsTable');
             imageContainer.appendChild(button);
             imageContainer.appendChild(collapsibleDiv);
             console.log('receivedMessage[2]', receivedMessage[2]);
             console.log(typeof (receivedMessage[2]));

             createTableFromJson(receivedMessage[2], 'AllParamsTable');
             console.log('created');

             const data = JSON.parse(receivedMessage[1]);

             for (const key in data) {
                 if (data.hasOwnProperty(key)) {
                     // Создание элемента img
                     let imgElement = document.createElement('img');
                     imgElement.style.width = '90%';

                     // Установка атрибута src для изображения
                     imgElement.src = data[key].split('sequence_analysis')[1];

                     // Добавление изображения в контейнер
                     imageContainer.appendChild(imgElement);
                 }
             }
         } else if (receivedMessage[0] == 'SecStruct') {
             console.log("SecStruct works")
             const imageContainer = document.createElement('div');
             imageContainer.id = 'SecStruct';
             divPhysChem.insertBefore(imageContainer, spinerPhysChem);

             const SecStructTitle = document.createElement('h6');
             SecStructTitle.textContent = 'Сравнение долей предсказанных вторичных структур последовательностей';
             SecStructTitle.classList.add("mt-4", "mb-0");
             imageContainer.append(SecStructTitle)

             const {
                 button,
                 collapsibleDiv
             } = createButtonAndCollapseDiv('SecStructButt', '#SecStructTable', 'SecStructTable');
             imageContainer.appendChild(button);
             imageContainer.appendChild(collapsibleDiv);
             console.log('receivedMessage[2]', receivedMessage[2]);
             console.log(typeof (receivedMessage[2]));

             createTableFromJson(receivedMessage[2], 'SecStructTable');
             console.log('created');

             const imgElement = document.createElement('img');
             const path = receivedMessage[1].split('sequence_analysis')[1];
             console.log('path', path);
             imgElement.src = path; // Путь к изображению, который пришел в сообщении
             imgElement.style.width = '90%';
             imageContainer.appendChild(imgElement);
             divPhysChem.removeChild(spinerPhysChem);
         } else if (receivedMessage[0] == "Meme") {
             console.log('Meme')
             const masageContainer = document.createElement('div');
             masageContainer.id = 'MotifSearch';
             divSearchMotif.insertBefore(masageContainer, spinerSearchMotif);

             const MemeTitle = document.createElement('h6');
             MemeTitle.textContent = 'Предсказание мотивов гомологичных последовательностей инструментом MEME';
             MemeTitle.classList.add("mt-4", "mb-4");
             masageContainer.append(MemeTitle)

             const htmlLink = document.createElement('a');
             htmlLink.textContent = 'Ссылка на HTML-файл';
             const htmlLinkUrl = '/sequence_analysis/meme/?html_link=' + encodeURIComponent(receivedMessage[2]);
             htmlLink.href = htmlLinkUrl;
             htmlLink.target = '_blank';
             masageContainer.appendChild(htmlLink);
             htmlLink.classList.add("mt-4", "mb-4");
             htmlLink.style.marginLeft = '10px';

             masageContainer.appendChild(document.createElement('br'));

             const {
                 button,
                 collapsibleDiv
             } = createButtonAndCollapseDiv('MotifSearchButt', '#MotifSearchTable', 'MotifSearchTable');
             masageContainer.appendChild(button);
             masageContainer.appendChild(collapsibleDiv);

             createTableFromJson(receivedMessage[1], 'MotifSearchTable');
         } else if (receivedMessage[0] == "Fimo") {
             console.log("Fimo")
             const masageContainer = document.createElement('div');
             masageContainer.id = 'MotifSearch';
             divSearchMotif.insertBefore(masageContainer, spinerSearchMotif);

             const FimeTitle = document.createElement('h6');
             FimeTitle.textContent = 'Поиск идентифицированных мотивов в предсказанных гомологичных последовательностях ';
             FimeTitle.classList.add("mt-4", "mb-4");
             masageContainer.append(FimeTitle)

             const htmlLink = document.createElement('a');
             htmlLink.textContent = 'Ссылка на HTML-файл';
             const htmlLinkUrl = '/sequence_analysis/meme/?html_link=' + encodeURIComponent(receivedMessage[2]);
             htmlLink.href = htmlLinkUrl;
             htmlLink.target = '_blank';
             masageContainer.appendChild(htmlLink);
             htmlLink.classList.add("mt-4", "mb-4");
             htmlLink.style.marginLeft = '10px';

             masageContainer.appendChild(document.createElement('br'));

             const {
                 button,
                 collapsibleDiv
             } = createButtonAndCollapseDiv('FimoSearchButt', '#FimoSearchTable', 'FimoSearchTable');
             masageContainer.appendChild(button);
             masageContainer.appendChild(collapsibleDiv);

             createTableFromJson(receivedMessage[1], 'FimoSearchTable');

             divSearchMotif.removeChild(spinerSearchMotif);

         } else if (receivedMessage[0] == 'multiAlign') {
             const messageElement = document.createElement('p');
             const filePath = receivedMessage[1].split('sequence_analysis')[1];
             console.log(filePath)
             const fileName = 'multiple_alignment.aln'

             const downloadLink = document.createElement('a');
             downloadLink.href = filePath;
             downloadLink.download = fileName;
             downloadLink.textContent = fileName;

             messageElement.appendChild(downloadLink);

             divBuildTree.insertBefore(messageElement, spinerBuildTree);
         } else if (receivedMessage[0] == 'forTree') {
             const messageElement = document.createElement('p');
             const filePath = receivedMessage[1].split('sequence_analysis')[1];
             console.log(filePath)
             const fileName = 'tree.nwk'

             const downloadLink = document.createElement('a');
             downloadLink.href = filePath;
             downloadLink.download = fileName;
             downloadLink.textContent = fileName;

             messageElement.appendChild(downloadLink);

             divBuildTree.insertBefore(messageElement, spinerBuildTree);

             formData = new FormData();
             formData.append('newick', receivedMessage[1]);
             formData.append('ids', receivedMessage[2]);

         } else if (receivedMessage[0] == "Tree visualisation") {
             console.log("Tree visualisation works")
             const imageContainer = document.createElement('div');
             imageContainer.id = 'TreeVisual';
             divBuildTree.insertBefore(imageContainer, spinerBuildTree);

             console.log('receivedMessage[1]', receivedMessage[1]);

             const imgElement = document.createElement('img');
             const path = receivedMessage[1].split('sequence_analysis')[1];
             console.log('path', path);
             imgElement.src = path; // Путь к изображению, который пришел в сообщении
             imgElement.style.width = '90%';
             imageContainer.appendChild(imgElement);
             divBuildTree.removeChild(spinerBuildTree);
         }
     }

    function createTableFromJson(jsonArray, idTargetDiv) {
        // Parse the JSON array
        const data = JSON.parse(jsonArray);
        console.log(data)

        // Create the table element
        const table = document.createElement('table');
        table.classList.add('table', 'mt-1'); // Add the 'table' class
        table.style.borderCollapse = 'collapse'; // Set the inline style for border-collapse
        table.style.fontSize = '12px'; // Set the inline style for font size
        table.style.width = '80%';

        // Create table header
         const thead = document.createElement('thead');
        const headerRow = document.createElement('tr');
        const headers = ['ID', ...Object.keys(data[Object.keys(data)[0]])]; // Include 'ID' in headers
        headers.forEach(header => {
            const th = document.createElement('th');
            th.textContent = header;
            headerRow.appendChild(th);
        });
        thead.appendChild(headerRow);
        table.appendChild(thead);

        // Create table body
        const tbody = document.createElement('tbody');
        Object.keys(data).forEach(key => {
            const row = document.createElement('tr');

            // Add ID as the first column
            const idCell = document.createElement('td');
            idCell.textContent = key;
            row.appendChild(idCell);

            const rowData = data[key];
            headers.slice(1).forEach(header => {
                const cell = document.createElement('td');
                cell.textContent = rowData[header] !== null ? rowData[header] : 'null';
                row.appendChild(cell);
            });
            tbody.appendChild(row);
        });
        table.appendChild(tbody);

        const targetElement = document.getElementById(idTargetDiv);
        targetElement.appendChild(table);

    }

    function createButtonAndCollapseDiv(IdButt, dataTarget, ariaControls){
        const button = document.createElement('button');
        button.classList.add('btn', 'btn-light', 'mt-4');
        button.id = IdButt
        button.type = 'button';
        button.setAttribute('data-bs-toggle', 'collapse');
        button.setAttribute('data-bs-target', dataTarget);
        button.setAttribute('aria-expanded', 'false');
        button.setAttribute('aria-controls', ariaControls);
        button.textContent = 'Посмотреть таблицу значений';

        const collapsibleDiv = document.createElement('div');
        collapsibleDiv.id = ariaControls;
        collapsibleDiv.style.overflowX = 'auto';
        collapsibleDiv.classList.add('collapse');

        collapsibleDiv.addEventListener('show.bs.collapse', function() {
            button.textContent = 'Скрыть таблицу';
        });
        collapsibleDiv.addEventListener('hide.bs.collapse', function() {
            button.textContent = 'Посмотреть таблицу значений';
        });

        return { button, collapsibleDiv };
     }



collapsibleDiv.addEventListener('hide.bs.collapse', function() {
    button.textContent = 'Посмотреть таблицу значений';
});

    function addLoadingSpinner(container) {
        const spinnerContainer = document.createElement('div');
        spinnerContainer.classList.add('text-center', 'mt-3', 'spinnerContainer')

        const spinner = document.createElement('div');
        spinner.classList.add('spinner-border');
        spinner.role = 'status';

        const span = document.createElement('span');
        span.classList.add('visually-hidden');
        span.textContent = 'Loading...';

        spinner.appendChild(span);
        spinnerContainer.appendChild(spinner);
        container.appendChild(spinnerContainer);
    }
    function getCSRFToken() {
			const cookieValue = document.cookie
			.split('; ')
			.find(row => row.startsWith('csrftoken='))
			.split('=')[1];

			return cookieValue;
    }

</script>
{% endblock %}